header{
    height:auto;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    text-align: center;
}
header nav{
    background-color: #07052e;
    margin-bottom: 200px;
}


.carousel img{
    height:auto;
    width:auto;
    margin:auto;
}
.logo {
    margin-top: 50px;
    height: auto;
    max-width: 915px;
    margin-left: auto;
    margin-right: auto;
}

.localisation {
    text-align: center;
    display: inline;
}

.logo img{
    width:300px;
    height:auto;
    position: center;
}

.block {
    margin : 0 auto;
    text-align : center;
}

#catalog {
    border : solid thin white;
    padding : 5px;
    position : relative;
    width : 70%;
    max-width : 1000px;
    color : white;
}

#catalog div {
    text-align : center;
}


#films{
    background-color: rgba(220,220,220,1);
    box-shadow:  0 0 10px 4px rgba(255,255,255,0.2);
}
#films{
    padding : 10px;
}

#films {
    height : 370px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.film {
    display : inline-block;
    width : 200px;
    height : 350px;
    vertical-align : top;

}

#films div.film {
    margin : 0 3px;
}

.film:hover {
    box-shadow:  0 0 8px 4px rgba(55,55,55,1);

}
.film h3 {
    height : 70px;
    background-color : rgb(80,80,80);
    padding : 5px;
    margin : 0;
    font-size: 20px;
    color : white;
    white-space : initial;
}

.film img {
    width : 100%;
}

/*Point de chute*/
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.25rem;
    }
}


footer{
    margin-top: 200px;
    color: white;
    background-color: #07052e;
}
footer .col-4{
    padding-top: 50px;
    padding-bottom: 50px;
}

body{
    color: white;
    background-color: #07052e;
}

header{
    color: white;
}
header div.localisation{
    margin-top: -5px;
}

.connexion{
    margin-top: 50px;
    margin-bottom: 100px;
}

nav a.nav-link{
    text-decoration: none;
    color: white;
}
nav a:active{
    color: #ff7e7b;
}

h2{
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ff9d91;
}

#carousel.carousel.slide{
    margin-top: 25px;
    margin-bottom: 25px;
}
.voirplus{
    margin-top: -60px;
    margin-bottom: 60px;
}
.voirplus a{
    color: white;
    text-decoration: none;
    text-align: center;
}

iframe{
    position: center;
}

footer p{
    font-size: 0.6em;
}
footer a{
    color: white;
    text-decoration: none;
    font-size: 0.6em;
}
main p{
    text-align: center;
}
h6{
    text-align: center;
}

form{
    margin: auto;
}

#description.container{
    display: flex;
}

main h3{
    text-align: center;
}
