header{
    color:#33002B;
    height:auto;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    text-align: center;

}

div.logo {
    height: auto;
    max-width: 915px;
    position: relative;

}



















/*Point de chute*/
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.125rem;
    }

    h1 {
        font-size: 2.75rem;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

}

@media screen and (min-width: 1600px) {

    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 1.25rem;
    }
}